/* 全局样式 */
.analytics-showcase {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: "Roboto", Sans-serif;
}

/* 产品展示模块 */
.regression-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    /*margin-top: 180px;*/
    /*position: relative; !* 或者 absolute，根据需要 *!*/
    /*top: 50%;*/
    /*border: 2px solid red; !* 添加红色边框 *!*/
}

.analytics-product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
}

.regression-description {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.7;
    color: #333;
}

.regression-image {
    width: 600px; /* 设置固定宽度 */
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /*margin-left: 200px;  !* 调整图片左边距 *!*/
    /*margin-right: 20px; !* 调整图片右边距 *!*/
}

/* 响应式设计 */
@media (max-width: 768px) {
    .regression-image {
        width: 100%; /* 在小屏幕上适应 */
        max-width: 300px; /* 限制最大宽度 */
    }
}

