/* Word cloud container style */
.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center alignment */
    position: relative;
    width: 100%; /* Set width to 100% to ensure it does not affect page layout */
    max-width: 600px; /* Maximum width to avoid taking up too much space */
    height: 50vh; /* Set a more suitable height */
    margin-top: 5%;
    margin-left: auto; /* Center */
    margin-right: auto; /* Center */
    /*border: 2px solid red; /* Add red border */
}

/* Basic style for each word */
.word {
    cursor: pointer;
    font-weight: bold;
    position: absolute; /* Allow each word to float freely */
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.word.hovered {
    color: #FF9E00; /* Color on hover */
    transform: scale(1.7); /* Zoom effect */
    box-shadow: 0px 0px 30px rgba(255, 158, 0, 0.5); /* Add shadow */
    text-shadow: 0 0 10px rgba(255, 158, 0, 0.8); /* Glowing effect */
}
