.titlebar {
    background: linear-gradient(
            to right,
            rgba(112, 69, 175, 1) 0%,     /* #7045AF */
            rgba(151, 123, 191, 0.6) 50%, /* #977BBF 半透明 */
            rgba(113, 61, 186, 1) 100%    /* #713DBA */
    );
    padding: 30px 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 从下方出现 */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.titlebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.title {
    margin: 0;
    text-align: left;
    width: 100%;
    font-size: 4rem;
    font-weight: lighter;
    font-family: "Roboto", Sans-serif;
    /*color: 	#BFFF00;*/
    color: white;
}
