.footer {
  /*background: linear-gradient(to right, rgba(255, 206, 0, 1) 0%, rgba(255, 206, 0, 0.3) 50%, rgba(255, 206, 0, 1) 100%);*/
  color: #7B56B3;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  opacity: 0; /* Initially transparent */
  animation: fadeIn 2s forwards; /* Fade-in animation */
  font-family: "Roboto", Sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Appears from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Fully visible */
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: center;
}

.logo {
  width: 280px;
  height: auto; /* 保持宽高比 */
}


.footer-contact {
  text-align: right;
}

.footer-contact h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
}
