.about-me-container{
    font-family: "Roboto", Sans-serif;
    color: #407EC9;
    /*background: linear-gradient(180deg, #407EC9 0%, #1D3557 100%);*/
    min-height: 100vh;
    /*border: 2px solid red; !* 添加红色边框 *!*/
}
/* 为了保持宽度一致，使用与 ProjectIntro 相同的布局 */
.page-content {
    width: 100%;
    max-width: 1200px; /* 保持一致 */
    padding: 0 20px; /* 左右 padding */
    margin: 0 auto; /* 保证内容居中 */
}

/* Hero Section */
.aboutme-hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /*border: 2px solid red; !* 添加红色边框 *!*/
}

/* 标题样式 */
.aboutme-hero-title {
    font-size: 6em;
    position: absolute;
    top: 30%;
    left: 36%;
    color: #407EC9;
    /*transform: translate(-50%, -50%);*/
}


/* WordCloud 样式 */
.hero-section > .word-cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.6;
    max-width: 80%;
}
/* 内容部分 */
.content-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
}

/* Section标题 */
.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #FFCE00, #FF9E00);
    -webkit-background-clip: text;
    color: transparent;
    transition: transform 0.3s ease, color 0.3s ease;
}

.section-title:hover {
    transform: scale(1.1);
    color: #FFCE00;
}

/* 文本样式 */
.section-text {
    font-size: 1.2rem;
    color: #407EC9;
    transition: color 0.3s ease;
}

.section-text:hover {
    color: #1C3775;
}

/* 滚动渐入动画 */
.fade-section {
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 响应式适配 */
@media (max-width: 768px) {
    .section-title {
        font-size: 1.5rem;
    }
    .section-text {
        font-size: 1rem;
    }
}
