.about-me-container{
    font-family: Arial, sans-serif;
    color: #407EC9;
    /*background: linear-gradient(180deg, #407EC9 0%, #1D3557 100%);*/
    min-height: 100vh;
    /*border: 2px solid red; !* 添加红色边框 *!*/
}
/* 为了保持宽度一致，使用与 ProjectIntro 相同的布局 */
.page-content {
    width: 100%;
    max-width: 1200px; /* 保持一致 */
    padding: 0 20px; /* 左右 padding */
    margin: 0 auto; /* 保证内容居中 */
}

/* Hero Section */
.aboutme-hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /*border: 2px solid red; !* 添加红色边框 *!*/
}

/* 标题样式 */
.aboutme-hero-title {
    font-size: 6em;
    position: absolute;
    top: 30%;
    left: 36%;
    color: #407EC9;
    /*transform: translate(-50%, -50%);*/
}


/* WordCloud 样式 */
.hero-section > .word-cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.6;
    max-width: 80%;
}

/* 内容部分 */
.content-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.aboutme-section-text {
    font-size: 1.2rem;
    color: #407EC9;
}

/* 滚动渐入动画 */
.fade-section {
    margin-bottom: 50px;
}

/* 响应式适配 */
@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .section-text {
        font-size: 1rem;
    }
}
